<h3>My Google Maps Demo</h3>
<!--The div element for the map -->
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div id="map"></div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-secondary" onclick="myLocation();">我的位置</button>
                    <button type="button" class="btn btn-secondary" onclick="searchRestaurant();">當前位置搜尋餐廳</button>
                </div>
                
            </div>
            <p id="latLng">經緯度為：</p>
            <hr />
            <p id="showRestaurant"></p>

        </div>
        
    </div>
</div>


<script async
        src="@ViewBag.MapsApiKey">
</script>
<script>

    let map, marker, infoWindow;
    let markers = [];

    function initMap() {
        const TP101 = { lat: 25.0338, lng: 121.5646 };
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: TP101,
        });
        marker = new google.maps.Marker({
            position: TP101,
            map: map,
        });
        $("#latLng").text("座標經緯度為：(" + marker.getPosition().lat() + "," + marker.getPosition().lng() + ")");
        infoWindow = new google.maps.InfoWindow();

        map.addListener("click", (e) => {
            //setMap(null);
            marker.setPosition(e.latLng);
            map.panTo(e.latLng);
            $("#latLng").text("經緯度為：(" + e.latLng.lat() + "," + e.latLng.lng() + ")");
        });        
    }



    function myLocation(){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };

                    //infoWindow.setPosition(pos);
                    //infoWindow.setContent("目前所在位置");
                    //infoWindow.open(map);
                    //map.setCenter(pos);
                    map.setCenter(pos)
                    const marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                    });
                },
                () => {
                    handleLocationError(true, infoWindow, map.getCenter());
                }
            );
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function searchRestaurant() {
        $.ajax({
            url: "/GoogleMapTest/searchRestaurant?lat=" + marker.getPosition().lat() + "&lng=" + marker.getPosition().lng(),
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (data) {
                markInMap(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function markInMap(data){
        console.log(data);
        
        //clean
        markers.forEach(function (marker) {
            marker.setMap(null);
        });
        markers = [];
        $("#showRestaurant").text("");
        
        data.results.forEach(function(e) {
            const marker = new google.maps.Marker({
                position: { lat: e.geometry.location.lat, lng: e.geometry.location.lng },
                map: map,
            });
            markers.push(marker);
            $("#showRestaurant").append("<p>" + e.name + "</p>");
        });
    }

    window.initMap = initMap;
</script>

<style>
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>
