<div class="b-example-divider"></div>
<div class="container">
    <h4>會員登入</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="Email" class="control-label">Email</label>
                    <input name="Email" class="form-control" type="email" />
                </div>
                <div class="form-group">
                    <label for="Password" class="control-label">Password</label>
                    <input name="Password" class="form-control" type="password" />
                </div>
                <div class="form-group">
                    <input type="submit" value="登入" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">回首頁</a>
    </div>
</di>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    function showMessage() {
        @*var message = '@ViewBag.Message.ToString()';*@
        var message = $("#Message").val();
        if (message != null && message != "") {
            alert(message);
        }
        console.log(message);
    }

    window.onload = function () {
        showMessage();
    };

</script>
