@{
    ViewData["Title"] = "Home Page";
}

<div>
    <input type="hidden" value="@ViewBag.Message" id="Message" />
</div>
<div class="b-example-divider"></div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2>實作項目，點擊以下標題：</h2>
    <h2><a class="btn btn-link" asp-area="" asp-controller="Jokes" asp-action="Index">YouTube教學影片：JOCK笑話分享</a></h2>
    <h2><a class="btn btn-link" asp-area="" asp-controller="Products" asp-action="Index">商品</a></h2>
    <h2><a class="btn btn-link" asp-area="" asp-controller="Products" asp-action="IndexApi">商品api</a></h2>
    <h2><a class="btn btn-link" asp-area="" asp-controller="GoogleMapTest" asp-action="Index2">測試GoogleMap(Map Javascript API)</a></h2>
</div>

<script>

    function showMessage() {
        @*var message = '@ViewBag.Message.ToString()';*@
        var message = $("#Message").val();
        if (message != null && message != "") {
            alert(message);
        }
        console.log(message);
    }

    window.onload = function () {
        showMessage();
    };

</script>
